.app {
  min-height: 100vh;
  position: relative;
}

.app__background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(var(--bg-color), 0.15);
  z-index: -2;
}

.app__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  z-index: 1;
  margin-top: 38px;
}

.app__content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 30px;
  margin-bottom: 34px;
  grid-auto-rows: min-content;
}

.app__link {
  cursor: pointer;
  color: var(--color-link);
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

@media (max-width: 768px) {
  .app__container {
    padding: 15px;
    padding-top: 30px;
  }

  .app__content {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}